 /*リセット */
 a {
    text-decoration: none;
 }
 li {
    list-style: none;
 }
/* 共通 */
.d-flex {
    display: flex;
}
.d-position {
    justify-content: space-between;
}
.w-100 {
    width: 100%;
}
.t-center {
    text-align: center;
}
main {
    color: #383e45;
}
.contents{
    max-width: 960px;
    margin: 0 auto;
}
.title-area {
    font-size: 2rem;
    border-bottom: 1px solid #383e45;
    display: inline-block;
    margin: 60px 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

/* ヘッダー */
header {
    padding: 1%;
}
.logo {
    max-width: 120px;
    line-height: 0;
}
.menu {
    margin-top: 10px;
}
.menu li {
    margin-left: 30px;
}
.menu li a {
    color: #24292e;
}

/* about */
.about-content {
    max-width: 560px;
    margin: 0 auto;
}
.about-img {
    max-width: 100px;
    margin-right: 30px;
}
.about-img img {
    border-radius: 50%;
}
.about h3 {
    margin: 0;
}

/* bycycle */
.bycycle {
    margin: 4% auto;
}
.bycycle-area li {
    width: 30%;
}
@media screen and (max-width: 768px) {
    header {
        padding: 3% 0;
    }
    .contents {
        width: 80%;
    }
    .menu {
        margin-top: 10px;
    }
    .contents:not(:first-of-type) {
        margin: 10% auto;
    }
    }
    @media screen and (max-width: 520px) {
        .bycycle-area li {
            width: 100%;
            margin: 0 0 10%;
        }
        .bycycle .d-flex {
            display: block;
        }
        .bycycle-area li img {
            width: 80%;
            margin: 0 auto;
        }
        .bycycle-area li h3 {
            margin-top: 3%;
        }
    }
